<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- JavaScript and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-xxl">
            <img src="https://upload.wikimedia.org/wikipedia/ru/0/04/GAZ-group-logo-2015.svg">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
              
              <li class="nav-item">
                <a class="nav-link" href="#">Предприятия</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Единицы измерения</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Товары</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="#">Форма накладной</a>
              </li>

              

            </ul>
            
          </div>
        </div>
      </nav>
    
    
    <div class="container">
        <button type="button" class="btn btn-outline-primary">Создать запись</button>
        <div class="row">
          <div class="col-2">
            Название
          </div>
          <div class="col">
            ИНН
          </div>
          <div class="col">
            КПП
          </div>
          <div class="col-4">
            Адрес
          </div>
        </div>

        <div class="row">
            <div class="col-2">
              АЗ ГАЗ
            </div>
            <div class="col">
              3209789000
            </div>
            <div class="col">
              1209380092
            </div>
            <div class="col-4">
                г. Нижний Новгород, ул. Калинина, з. 231
            </div>
        </div>
      

        <div class="row">
            <div class="col-2">
            Союз
            </div>
            <div class="col">
            1209789000
            </div>
            <div class="col">
            1989380092
            </div>
            <div class="col-4">
                г. Нижний Новгород, ул. Маркса, з. 1, к. 5
            </div>
        </div>

        <div class="row">
            <div class="col-2">
            Дилерский центр "Соболь"
            </div>
            <div class="col">
            2399789000
            </div>
            <div class="col">
            1000380092
            </div>
            <div class="col-4">
                г. Богородск, ул. Ленина, д. 12, к. 9
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                Старый рог
            </div>
            <div class="col">
                9099789000
            </div>
            <div class="col">
                9989380092
            </div>
            <div class="col-4">
                г. Нижний Новгород, ул. Гоголя, з. 19, к. 58
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                Самара
            </div>
            <div class="col">
                9999789000
            </div>
            <div class="col">
                4244480092
            </div>
            <div class="col-4">
                г. Нижний Новгород, ул. Комсомольская, д. 1
            </div>
        </div>
    </div>

      
</body>
</html>